/* IMPORT STATEMENTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

*::selection{
    background-color: black;
    color: red;
}

/* CODE FOR NAV BAR */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 1vh 3vw;
}

.dd1 > div{
    padding: 2vh 2vw;
}

.nav-box-3 > div{
    padding: 0 1vw;
    border-right: 1px solid gray;

}

.nav-box-3 > div:last-child{
    border-right: none;
}

.nav-box-2 , .nav-box-3{
    display: flex;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    gap:0 1vw;
}

.logo{
    color: orangered;
    font-family: arial;
    font-size: 4vw;
    font-weight: bold;
    cursor: pointer;
}

.dd1{
    position: absolute;
    display: none;
    padding: 2vh 2vw;
    top: 10.5vh;
    transition: background-color 2s ease-in-out;
}

.nav-box-2 > div:hover .dd1{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}


table{
    border: none;
    border-spacing: 0;
    text-align: left;
}

tr > th{
    padding: 3vh 3vw;
    color: gray;
    text-align: left;
}

tr > td {
    padding: 2vh 2vw;
}

.nav-box-2 > div{
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid white;
}

.nav-box-2 > div:hover{
    border-bottom: 5px solid orangered;
}

.nav-box-3 > div a:hover{
    text-decoration: none;
}

/* CODE FOR IMAGE 1 SECTION */


.image1{
    height: 40vh;
    padding: 5vh 10vw;
    background: linear-gradient(to left , #880687 , #3d063d);
    margin-bottom: 7vh;
}

.image1 > h1{
    font-size: 5vw;
    font-weight: bolder;
    padding: 3vh 0;
    color: whitesmoke;
}

.image1 > div{
    font-size: large;
    width: 50vw;
    padding: 2vh 0;
    color: whitesmoke;
}

form{
    width: 50vw;
    outline: 3px solid orange;
    height: 6.5vh;
    border-radius: 2px;
    background-color: white;
    padding: 0.2vh 0vw;
    display: flex;
    align-items: center;
}

form > input:first-child{
    width: 80%;
    border: none;
    outline: none;
    height: 100%;
    padding: 1vh 1vw;
}

form > input:last-child{
    height: 95%;
    width: 19%;
    background-color: orangered;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 2vw;
    border-radius: 1vh;
    border: none;
}

input::placeholder{
    font-size: 2vw;
}


/* CODE FOR SIGNUP SECTION 1 */


.signup1{
    background-color: rgb(231, 230, 230);
    padding: 9vh 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 .5vw;
}

.signup1 > h1{
    font-size: 3.8vw;
}

.signup1 > div {
    display: flex;
    text-align: right;
    gap: 0 2.5vw;
    align-items: center;
}

.signup1 > div > a{
    padding: 2vh 2vw;
    border-radius: 3vw;
    background-color: orangered;
    color: whitesmoke;
    font-size: 1.65vw;
    font-weight: bolder;
    transition: all 100ms ease;
}

.signup1 > div > a:hover{
    text-decoration: none;
    border-radius: 0.5vw;
}


/* CODE FOR STUDY TIME SECTION */


.stdSec{
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.stdSec > h1{
    font-size: 4vw;
    margin-bottom: 3vh;
    color: rgb(30, 36, 36);
}


/* CODE FOR CARD SECTION ! */


.cards-1{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.cards-1 > div{
    width: 30vw;
    height: 100%;
    border: 1px solid darkslategrey;
    border-radius: 1.5vw;
    overflow: hidden;
    
    text-align: center;
}

.cards-1 > div > img{
    width: 100%;
    max-height: 50%;
    margin-bottom: 2vh;
    border-bottom: 1px solid black;
    background-position: center;
}

.cards-1 > div > h2 , .cards-1 > div > div{
    width: 80%;
    margin-bottom: 2vh;
    font-size: 2.5vmin;
    text-align: center;
    width: 100%;
}

.cards-1 > div > h2{
    font-size: 4vh;
}

.cards-1  a{
    color: darkblue;
    font-weight: bolder;
    font-size: 3vmin;
}


/* CODE FOR SIGNUP SECTION 2 AND FACT SECTION */


.signup2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

.signup2 > a{
    background-color: orangered;
    padding: 2vh 2vw;
    border-radius: 2vw;
    color:white;
    font-weight: bolder;
    transition: all 100ms ease;
}

.signup2 > a:hover{
    text-decoration: none;
    border-radius: 0.5vw;
}

.signup2 > h1{
    width: 92vw;
    text-align: center;
    color: orangered;
    font-size: 4vw;
    margin-bottom: 14vh;
}


/* CODE FOR DESIGN PHOTO 1 SECTION */


.photo1{
    width: 92vw;
    height: 40vh;
    margin: auto;
    background: radial-gradient(#868aaf , #555873);
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 4vh 5vw;
    box-sizing: border-box;
    color: white;
    margin-bottom: 10vh;
}

.photo1 > h1{
    font-size: 4vw;
    margin-bottom: 2vh;
}

.photo1 > div{
    width: 50%;
    text-align: right;
    font-size: 2vw;
}


/* CODE FOR HEADING  */

.head1{
    text-align: center;
    font-size: 4vw;
    margin: 3vh 0;
}


/* CODE FOR CARDS SECTION 2 */


.cards-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10vh 0;
    height: 70vh;
    text-align: center;
}

.cards-2 > div{
    border: 1px solid darkslategrey;
    border-radius: 1vw;
    overflow: hidden;
    width: 22vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-2 > div > img{
    width: 100%;
    height: 45%;
    border-bottom: 1px solid;
    margin-bottom: 5%;
}

.cards-2 > div > h2{
    font-size: 2.65vw;
    padding: 0 1vw;
    margin-bottom: 5%;
}

.cards-2 > div > div{
    margin-bottom: 5%;
    padding: 0 1vw;
}

.cards-2 > div > a{
    color: darkblue;
    font-weight: bolder;
}


/* CODE FOR SIGNUP SECTION 3 */


.signup3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.signup3 > h3{
    font-size: 2.5vw;
    margin-bottom: 5vh;
    padding: 3vh 3vw;
    
}

.signup3 > a{
    background-color: orangered;
    padding: 2vh 2vw;
    border-radius: 2vw;
    color:white;
    font-weight: bolder;
    transition: all 100ms ease;
}

.signup3 > a:hover{
    text-decoration: none;
    border-radius: 0.5vw;
}


/* CODE FOR CORSE HELP SECTION */


.course-help{
    padding: 5vh 1.5vw;
}

.course-help > h2{
    font-size: 2.5vw;
    font-weight: bolder;
    margin-bottom: 2vh;
    padding: 3vh 0;
    width: max-content;
    position: relative;
}

.course-help > h2::before{
    content: '';
    position: absolute;
    top: 0;
    height: 1.4vh;
    width: 40%;
    z-index: 4;
    background: linear-gradient(orangered , orangered , orange);
}

.course-help > div > span:first-child{
    font-weight: bolder;
}

.course-help > div{
    margin: 1vh 0;
}

/* CODE FOR NOTE/NOTICE SECTION */


.note{
    padding: 0 1vw;
    margin: 5vh 0;
}

.note > div{
    font-size: 1.3vw;
}


/* CODE FOR FOOTER */


footer{
    display: flex;
    justify-content: center;
    padding: 0 2vw;
    gap: 0 1vw;
    margin: 5vh 0;
}

footer a , footer h5{
    font-size: 1.2vw;
}

footer > div div{
    margin: 1vh 0;
}


@media screen and (max-width:400px) {
    
}